<div id="createAccount-Container">
  <div class="createAccount-maintext">
    <h1 id="welcome-text">Bienvenido a Whisp</h1>
    <h1 id="welcome-text2">Crear cuenta</h1>
  </div>
  <h2 id="createAccount-Text">Crear cuenta</h2>
  <form [formGroup]="form" id="createAccount-Form" (ngSubmit)="onSubmit()">
    <div class="border">
    <section>
      <div>
        <ion-item>
          <ion-input label="Correo" labelPlacement="stacked" id="email" placeholder="pedro@example.com" formControlName="email"></ion-input>
        </ion-item>
        @if (form.get('email')?.touched && form.get('email')?.dirty
        && form.get('email')?.hasError('required')) {
          <span class="error-message">Es obligatorio introducir un email</span>
        }
        @if (form.get('email')?.touched && form.get('email')?.dirty
        && form.get('email')?.hasError('email')) {
          <span class="error-message">El patrón del email es incorrecto</span>
        }
        <!--
        @if (form.controls.email.touched && form.controls.email.hasError('required')) {
          <span class="error-message">Es un campo requerido</span>
        }
        -->
      </div>
    </section>
    <section>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="stacked" type="password" id="password" placeholder="Contraseña" formControlName="password"></ion-input>
      </ion-item>
      @if (form.get('password')?.touched && form.get('password')?.dirty
      && form.get('password')?.hasError('required')) {
        <span class="error-message">Es obligatorio introducir una contraseña</span>
      }
      @if (form.get('password')?.touched && form.get('password')?.dirty
      && form.get('password')?.hasError('minLength')) {
        <span class="error-message">La contraseña debe de contener al menos 8 dígitos</span>
      }
      @if (form.get('password')?.touched && form.get('password')?.dirty
      && form.get('password')?.hasError('maxLength')) {
        <span class="error-message">La contraseña debe de contener menos de 15 dígitos</span>
      }
      @if (form.get('password')?.touched && form.get('password')?.dirty
      && form.get('password')?.hasError('pattern')) {
        <span class="error-message">La contraseña no sigue el patrón correcto</span>
        <span class="error-message">1 Mayúscula</span>
        <span class="error-message">1 Minúsucla</span>
        <span class="error-message">1 Carácter especial</span>
      }
    </section>
    <section>
      <ion-item>
        <ion-input label="Confirma contraseña" labelPlacement="stacked" type="password" id="confirm-password" placeholder="Contraseña" formControlName="password_confirmation"></ion-input>
      </ion-item>
      @if (form.get('password_confirmation')?.touched && form.get('password_confirmation')?.dirty
      && form.get('password_confirmation')?.hasError('required')) {
        <span class="error-message">Es obligatorio introducir una contraseña</span>
      }
      @if (form.get('password_confirmation')?.touched && form.get('password_confirmation')?.dirty
      && form.get('password_confirmation')?.hasError('minLength')) {
        <span class="error-message">La contraseña debe de contener al menos 8 dígitos</span>
      }
      @if (form.get('password_confirmation')?.touched && form.get('password_confirmation')?.dirty
      && form.get('password_confirmation')?.hasError('maxLength')) {
        <span class="error-message">La contraseña debe de contener menos de 15 dígitos</span>
      }
      @if (form.get('password_confirmation')?.touched && form.get('password_confirmation')?.dirty
      && form.get('password_confirmation')?.hasError('pattern')) {
        <span class="error-message">La contraseña no sigue el patrón correcto</span>
        <span class="error-message">1 Mayúscula</span>
        <span class="error-message">1 Minúsucla</span>
        <span class="error-message">1 Carácter especial</span>
      }
      @if (showPasswordMatchError()) {
        <span class="error-message">Las contraseñas no coinciden</span>
      }
    </section>
    <section>
      <ion-item>
        <ion-input label="Nombre de usuario" labelPlacement="stacked" id="user-name" required placeholder="ArmadilloAmarillo" formControlName="name"></ion-input>
      </ion-item>
      @if (form.get('name')?.touched && form.get('name')?.dirty
      && form.get('name')?.hasError('required')) {
        <span class="error-message">Es obligatorio introducir un nombre de usuario</span>
      }
      @if (form.get('name')?.touched && form.get('name')?.dirty
      && form.get('name')?.errors?.['userNameExists']) {
        <span class="error-message">El nombre de usuario ya existe</span>
      }
    </section>
    <section>
      <ion-item>
        <ion-input label="Fecha de nacimiento" labelPlacement="stacked" id="birthdate" type="date" required formControlName="birthday" min="1900-01-01" max="{{ formatDateForMax() }}"></ion-input>
      </ion-item>
      @if (form.get('birthday')?.touched && form.get('birthday')?.dirty
      && form.get('birthday')?.hasError('required')) {
        <span class="error-message">Es obligatorio introducir la fecha de nacimiento</span>
      }
      @if (form.get('birthday')?.touched && form.get('birthday')?.dirty
      && form.get('birthday')?.errors?.['tooYoung']) {
        <span class="error-message">Debe tener al menos 12 años</span>
      }
      @if (form.get('birthday')?.touched && form.get('birthday')?.dirty
      && form.get('birthday')?.errors?.['futureDate']) {
        <span class="error-message">La fecha no puede ser en el futuro</span>
      }
    </section>
    </div>
    <section id="createAccount-Field">
      <ion-button id="createAccountButton" type="submit">Crear cuenta</ion-button>
      <ion-alert
        trigger="createAccountButton"
        [header]="alertHeader"
        [message]="alertMessage"
        [buttons]= "alertButton"
        (didDismiss)="onAlertDidDismiss()"
      ></ion-alert>
    </section>
  </form>
</div>

<!--
<div>
  <pre>Formulario valido: {{form.valid}}</pre>
</div>
<div>
  <pre>{{form.value | json }}</pre>
</div>
-->
