<ion-header id="main-container">
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="auto">
        <figure (click)="goToMainPage()">
          <img src="assets/images/logo.png" alt="Logo">
        </figure>
      </ion-col>
      <ion-col size="auto" class="ion-justify-content-center">
          <ion-button id="logIn" (click)="login()">Log in</ion-button>
          <ion-button id="register" (click)="register()">Create account</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

