<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="contact-card">
    <ion-card-header>
      <ion-avatar class="contact-avatar">
        <img [src]="profilePhoto" alt="Profile photo" />
      </ion-avatar>
      <ion-card-title>{{ name }}</ion-card-title>
      <ion-card-subtitle>{{ email }}</ion-card-subtitle>
      <ion-text color="medium" class="contact-birthday">🎂 {{ birthday }}</ion-text>
    </ion-card-header>
    <ion-card-content>
      <p>{{ description }}</p>
      <ion-toggle
        [checked]="isFavourite(userId)"
        (ionChange)="onFavoriteChange($event)"
      >Agrega a favoritos
      </ion-toggle>
    </ion-card-content>
  </ion-card>
</ion-content>
