<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="['/home']">Contactos</ion-item>
          <ion-item button [routerLink]="['/contact-list']">Favoritos</ion-item>
          <ion-item button [routerLink]="['/settings']">Ajustes</ion-item>
          <ion-item button (click)="logout()">Cerrar sesión</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
