<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ng-container *ngFor="let contact of contacts$ | async">
      <div id="chat-container">
        <button (click)="showContact(contact)">
          <app-contact-box [contact]="contact"></app-contact-box>
        </button>
        <button id="button-favourite" (click)="toggleFavorite(contact)">
          <img [src]="isFavourite(contact) ? 'assets/images/favorito-with-color.png' : 'assets/images/favorito-without-color.png'">
        </button>
      </div>
    </ng-container>
  </ion-list>
</ion-content>
